@import "../../scss/variables";

.modal-form {
  visibility: hidden;
  position: fixed;
  z-index: $modalFormZIndex;
  right: 0;
  width: 100vw;
  max-width: $modalFormMaxWidth;
  height: 100%;
  background: white;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease;

  @media (min-width: $tablet) {
    width: $modalFormWidth;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &--opened {
    visibility: visible;
    opacity: 1;
  }

  .page-title {
    margin-top: 32px;
  }

  input {
    display: block;
    height: 48px;
    margin: 0 16px 16px 16px;
    padding: 0 16px;
    width: calc(100% - 32px);
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: "TT Lakes Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;

    @media (min-width: $tablet) {
      margin: 0 32px 16px 32px;
      width: calc(100% - 64px);
    }
  }

  textarea {
    display: block;
    //height: 48px;
    margin: 0 16px 16px 16px;
    padding: 0 16px;
    width: calc(100% - 32px);
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: "TT Lakes Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
    resize: none;

    @media (min-width: $tablet) {
      margin: 0 32px 16px 32px;
      width: calc(100% - 64px);
    }
  }

  p {
    font-family: "TT Lakes Regular", sans-serif;
    margin: 0 16px 20px 16px;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;

    @media (min-width: $tablet) {
      margin: 0 32px 28px 32px;
    }
  }

  a {
    text-decoration: none;
    color: #FF3E79
  }

  .navigation-button {
    margin: 24px auto 0 16px;

    @media (min-width: $tablet) {
      position: absolute;
      margin: 32px 0 0 -64px;
    }
  }

  .go-button {
    display: block;
    margin: 0 16px 0 auto;

    @media (min-width: $tablet) {
      margin: 0 32px 0 auto;
    }
  }
}
