.section-title {
  margin: 0;
  padding: 16px 32px;
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
}
